almostWhite = rgb(245, 245, 245)
blackAlpha = rgba(0,0,0,0.1)
darkGray = rgb(85, 85, 85)
hoverColor = rgb(0, 172, 238)
littleGrayish = rgb(232, 232, 232)

tabBgColor = rgba(245, 245, 245, 0.95)
tabBorderColor = rgb(80, 80, 80)
tabBorderColorAlpha = rgba(40, 40, 40, 0.2)

twitterLogoColor = rgb(0, 172, 238)
twitterRetweetColor = rgb(119, 178, 85)